html{
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
}
body{
	text-align:center;
}
.header{
	width:100%;
	background-image:url("../images/off_logo.png");
	background-position-x:center;
	background-repeat:no-repeat;
	background-size:contain;
	min-height:9em;
}
.main_body{
	position:relative;
}
.footer{
	width:100%;
	position:static;
	bottom:5px;
	color:#000;
}
.button_click{
	background-color: #00d400;
    color: #fff;
    bottom: 0px;
    left: 0px;
    text-shadow: 2px 2px 4px #000;
    height: 236px;
    width: 302px;
	
}
.button{
	margin:10px;
}
.instructions{
	color:#000;
}
 #map {
    min-height: 400px;
    width: 60%;
	margin-left:20%;
	text-shadow:1px 1px 2px #000;
	border-style:solid;
	border-color:#000;
		
}
	   